
<h1>Products</h1>
<hr>
<p>Search for a product:</p>
<%= form_tag(products_path, method: :get) do %>
  <%= text_field_tag(:name_search, params[:name_search]) %>
  <%= submit_tag ("Search") %>
<% end %>
<br>
<br>

<% if @search_results %>
  <% if @search_results.any? %>
    <h4>Here are your products:</h4>
    <ul>
      <% @search_results.each do |result| %>
        <li><%= link_to result.name,  product_path(result)%></li>
      <% end %>
      <hr>
    </ul>
  <% else %>
    <p>No results for this query</p>
  <% end %>
<% end %>

<div id="product_list">
  <% if @products.any? %>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
    <%= paginate @products %>
  <% else %>
    <p>There are no products yet.</p>
  <% end %>
</div>


<p><%= link_to "Create new product", new_product_path %></p>